.dashboard {
	width: 100%;
}

.content-header {
	display: flex;
	margin: 50px 5%;
	justify-content: space-between;
}

.content-header h1 {
	font-size: 3rem;
}

.content-header button {
	background-color: #F8694A;
	padding: 0.8rem 2rem;
	color:white;
	font-size: 1.5rem;
}

.content {
	margin: 50px 5%;
}

.user-content {
	border: 1px solid black;
	float:right;
	height: 400px;
	width: 65%;
}